
<div ng-controller="mCtrl" class="container- row" ng-if='eav'>
	<div class="alert alert-danger" role="alert" ng-show="error.length" style="width:100%">{{error}}</div>
	<div class="col-md-12" style="max-width: 700px;margin: 0 auto;">
		<ng-form class="row" name="eavForm" >
			<table class="table table-bordered table-striped">
				<colgroup>
					<col width="200px"/>
					<col width="300px"/>
				</colgroup>
				<tr>
					<td>
						
					</td>
					<td class="text-right">
						<a ng-href='#' ng-click='logout()'><strong>Logout</strong></a>
					</td>
				</tr>
				<tr>
					<td><strong>Website</strong></td>
					<td>
						<select ng-model="_website" required>
							<option ng-repeat="web in website" ng-value='web.website_id'>{{web.name}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><strong>Store</strong></td>
					<td>
						<select ng-model="_store" required>
							<option ng-repeat="str in store" ng-disabled='_website != str.website_id' ng-value='str.store_id'>{{str.code}}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><strong>Fetch By</strong></td>
					<td>
						<label>
							<input type="radio" ng-value='0' selected ng-model="fetch_by" />	
							Limit
						</label>
						<label>
							<input type="radio" ng-value='1' ng-model="fetch_by" />
							ID
						</label>
						
					</td>
				</tr>
				<tr>
					<td><strong>Limit</strong></td>
					<td>
						<input type="text" ng-model='offset'  ng-disabled='fetch_by == 1' placeholder="OFFSET" required />
						<input type="text" ng-model='limit' ng-disabled='fetch_by == 1' placeholder="LIMIT" required />
					</td>
				</tr>
				<tr>
					<td><strong>ID</strong></td>
					<td>
						<input type="text" ng-model='entity_from' ng-disabled='fetch_by == 0' placeholder="from" required/>
						<input type="text" ng-model='entity_to' ng-disabled='fetch_by == 0' placeholder="to" required/>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="text-left">
						<strong>Select Attributes:</strong>
					</td>
				</tr>
				<tr>
					<td colspan="2"> 
						<div class="row" style=' max-height: 300px;overflow-y: scroll;'>
						<div class="col-md-6" ng-repeat="eav in eav track by $index">
							
							<input  type="checkbox" 
									ng-click="updateEavExport(eav)"
									value='{{eav.attribute_id}}' 
									name='export_eav' 
									id='{{eav.attribute_id}}' 
									ng-model="eav.checked"
									ng-required="eav_export.length==0"> 

							<label for='{{eav.attribute_id}}'>
								{{eav.frontend_label}}
							</label>
						</div>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<button 
							type="submit" 
							ng-click="export()"
							ng-disabled="eavForm.$invalid"  
							class="btn btn-danger">
							Export
						</button>
					</td>
				</tr>
				<tr ng-show='exporturl.length'>
					<td colspan="2" class="text-center">
						<p ng-show="loading" ng-model="loading">Please Wait...</p>
						<a  ng-hide="loading" ng-href='{{exporturl}}'>Download</a>
					</td>
				</tr>
			</table>
		</ng-form>
	</div>				
</div>